body{
    background: lightcoral;
}

.leftBox{
    float: left;
    background: darkgrey;
}

.vertical {
    border-left: 6px solid black;
    height: 600px;
    position: absolute;
    left: 50%;
}

.rightBox{
    float: right;
    background: beige;
}
