body{
    --color-primary: #009579;
    --color-primary-dark: #007f67;
    --color-secondary: #256c6a;
    --color-error: #cc3333;
    --color-success: #4bb544;
    --border-radius: 4px;

    text-decoration: none;
    margin: 0;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 18px;
    background: url(../../../Assets/Background.jpg);
    background-size:cover;
}

.container{
    width: 600px;
    max-width: 600px;
    height: 100vh;
    margin: 1rem;
    padding: 1rem;
    box-shadow: 0 0 40px rgba(0, 0, 0, 0.2);
    border-radius: var(--border-radius);
    background: white;
    
}

.formHeaders{
    text-align: center;
}

.container select{
    display: block;
    width: 100%;
    padding: 0.75rem;
    box-sizing: border-box;
    border-radius: var(--border-radius);
    border: 1px solid #dddddd;
    outline: none;
    background-color: #eeeeee;
    transition: backkground 0.2s, border color 0.2s;
    margin: 10px;
}

.container input{
    display: block;
    width: 100%;
    padding: 0.75rem;
    box-sizing: border-box;
    border-radius: var(--border-radius);
    border: 1px solid #dddddd;
    outline: none;
    background-color: #eeeeee;
    transition: backkground 0.2s, border color 0.2s;
    margin: 10px
}

.container button{
    width: 100%;
    padding: 1rem 2rem;
    font-weight: bold;
    font-size: 1.1rem;
    color: #dddddd;
    border: black;
    border-radius: var(--border-radius);
    outline: black;
    cursor: pointer;
    background: var(--color-primary);
    margin: 10px;
}


